.usecase-text-right h2 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  line-height: 39.01px;
  text-align: left;
  color: #ed3e31;
  text-transform: uppercase;
}
.usecase-text-left h2 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  line-height: 39.01px;
  text-align: left;
  color: #fddf09;
  text-transform: uppercase;
}
.usecase-text-left p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: justified;
  color: #fff;
}
.usecase-text-right p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: justified;
  color: #fff;
}
.usecase-text-left button {
  width: 144px;
  height: 41px;
  background: linear-gradient(180deg, #f6b910 -30.49%, #d71b2c 100%);

  border-radius: 5px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.usecase-text-right button {
  width: 144px;
  height: 41px;
  background: linear-gradient(180deg, #f6b910 -30.49%, #d71b2c 100%);

  border-radius: 5px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.usecase-text-left {
  width: 544px;
  height: 223px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.usecase-text-right {
  width: 544px;
  height: 223px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.use-cases-parent {
  background-color: #09173c;
  padding: 80px 0px 100px 0px;
}
.use-cases-card-main .row img {
  padding: 1.5rem 0;
}
.use-card-head {
  padding-bottom: 55px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.use-card-head h2 {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 500;
  line-height: 51.2px;

  color: #fff;
  padding-bottom: 1rem;
}
.use-card-head span {
  color: #ed3e31;
}

@media only screen and (min-width: 1200px) {
  .use-cases-card-main .row img {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width:1200px){
  .use-cases-card-main .row img {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .use-cases-card-main .row img {
    width: 100%;
    height: 390px;
  }
  .usecase-text-right {
    height: auto;
  }
  .usecase-text-left {
    height: auto;
  }
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .use-cases-card-main .row img {
    width: 100%;
    height: 340px;
  }
  .usecase-text-right {
    height: auto;
  }
  .usecase-text-left {
    height: auto;
  }
}
@media only screen and (max-width: 576px) {
  .use-cases-card-main .row img {
    width: 100%;
    height: 300px;
  }
  .usecase-text-right {
    height: auto;
  }
  .usecase-text-left {
    height: auto;
  }
}
