
.WebApp-Wrapper{
    background-color: #07091f;
    width: 100%;
    height: auto;
    padding-top: 200px;
    padding-bottom: 100px;
}
.testicard-man::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 10px;
    

    background: rgba(0, 0, 0, 0.6588); 
}
.slider-main-web{
    height: 880px!important;
}
.phone-web img{
    height: 880px!important;
    width: 100%;
}

